@font-face{
    font-family: "pixeles";
    src: url(Tipografía/Minecraft.ttf);
}
*{
    font-family: "pixeles";
}
.pokebolaBoton{
    display: block;
    width: 3rem;
}
.pokebola{
    width: 2rem;
}
.pokebolaRival{
    display: block;
    width: 2rem;
    padding-left: 300%;
}
.pokemonesRival{
    display: flex;
    padding-left: 40%;
}
.pokemonUsuario{
    display: flex;
}
.movimientosTresYCuatro{
    margin-bottom: 200px;
}
.barraUsuario{
    font-size: 40px;
    padding-left: 30%;
    margin-bottom: 20px;
}
.barraRival{
    font-size: 40px;
    padding-left: 55%;
}
.eevee{
    padding-left: 50%;
    width: 40%;
}
.voltorb{
    padding-left: 70%;
    width: 55%;
}
.mewtwo{
    width: 32%;
    padding-left: 37%;
}
.pidgeot{
    padding-left: 50%;
    width: 25%;
}
.vidaUno{
    width: 30px;
}
.pikachu{
    padding-left: 50%;
    width: 32%;
}
.snorlax{
    padding-left: 80%;
    width: 45%;
}
.lugia{
    padding-left: 220%;
    width: 210%;
}
.dragonite{
    width: 40%;
    padding-left: 60%;
}
.ataque{
    width: 100px;
    height: 50px;
}
.movimientosUnoYDos{
    margin-left: 30%;
    margin-top: 0px;
}
.movimientosTresYCuatro{
    margin-left: 30%;
    margin-top: 0;
}
.comentario{
    font-size: 40px;
}
.usuario{
    padding-bottom: 50px;
}